

.container,
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image img {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden; 
    width: 200px;
    height: 200px;
}

/* cart page */
.products-container {
    max-width: 800px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    text-transform: capitalize;
}

.products-container ion-icon {
    font-size: 20px;
    color: purple;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 25%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.products img {
    width: 75px;
}

.basketTotalContainer {
    width: 100%; 
    display: flex;
   justify-content: flex-end;
    padding: 5px 0;
    font-size: 20px;
}

.basketTotalTitle {
    width: 20%;
}

.basketTotal {
    width: 17%;
}

.purchase {
    width: 300px;
    height: 50px;
    background-color: purple;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
}

.purchase:hover {
    background-color: #fff;
    color: purple;
    border: 1px solid purple;
}